.vertical-align { margin-top:165px; }

.login-container { background: #fff; border:1px solid #e6e6e6; margin-top: 66px; padding:30px; box-sizing: border-box;}
.login-container:nth-child(2) { margin-top: 20px;}


.logolink { float: none; margin:0 auto 30px; text-align: center; display:block;}

.bg-danger p:not(:empty) { padding:10px;}

.btn { text-align: center; width: 100%;}
.btn.btn-blue { background: #3897f0; border-color: #3897f0; color: #fff; }
.btn.btn-default { background: none; margin-top:15px;}

