.feed-thumbnail { margin-bottom: 30px; overflow: hidden; display:block; float: left; position: relative; }
.feed-thumbnail-img { height:290px;}

.feed-thumbnail:after { display: block; position: absolute; top:0; left:0; background: #000; z-index: 9}
